.Menu
{
  background-color: #000000;
  color: white;
}

.projects{
  background-color: white;

}

.sectionLabel{
  font-family: 'Vollkorn', serif;
  padding:1.5%;
}

.projectText{
  font-family: 'Vollkorn', serif;
  font-size: 100%;
  background-color: white;
  text-align: justify;
}

.patentText{
  font-family: 'Vollkorn', serif;
  font-size: 130%;
  padding: 5px 0 0 80px;
}

.first-letter {
  font-size: 150%;
}

.AwardText{
  font-family: 'Vollkorn', serif;
  float: right;
  font-size: 105%;
  color: white;
  padding: 0 3% 3% 3%;
}

.form-control{
  width: 60%;
  margin: auto;
}

.textarea{
  min-height:320px;
  min-width: 60%;
  resize:none;
}

.main-btn{
  background:#1A1A1D;
  min-width: 60%;
  color:white;
}
